<h1> New Research Information </h1>


<%= form_for @research do |f| %>
    
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, size: "70x49" %>
    <br>
    <%=f.submit 'Submit New Research' %>
<% end %>