<h1> <%= current_user.name %>'s Account</h1>


<strong> Age: <%= current_user.age%> </strong>
<br>
<br>
<strong> Email: <%=current_user.email%> </strong>
<br>
<br>



<%= link_to "Edit User Information", edit_user_path %>
<br>
<%= link_to "Create Research Information", new_research_path%>