<!DOCTYPE html>
<html>
  <head>
    <title>ReasearchLibrary1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <% if logged_in? %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "SignUp", signup_path %>
      <br>
      <%= link_to "Login", login_path %>
      <br>
      <%= link_to "Log In With GitHub", '/auth/github', method: :post %>

      
    <% end %>
  </nav>
  <body>
    
    <%= yield %>
  </body>
</html>
